<aside
  class="sidebar"
  [class.sidebar-collapsed]="collapsed">

  <!-- LOGO -->
  <div class="sidebar-logo">

    <h2 *ngIf="!collapsed">
      FE
    </h2>

    <h2 *ngIf="collapsed">
      F
    </h2>

  </div>

  <!-- MENU -->
  <ul class="sidebar-menu">

  <li *ngFor="let item of menuNav">

    <!-- ITEM PRINCIPAL -->
    <a
      [routerLink]="item.route"
      routerLinkActive="sidebar-active"
      class="sidebar-item">

      <span *ngIf="!collapsed">
        {{ item.name }}
      </span>

    </a>

    <!-- SUBMENU -->
    <ul *ngIf="item.children && !collapsed" class="sidebar-submenu">

      <li *ngFor="let child of item.children">

        <a
          [routerLink]="child.route"
          routerLinkActive="sidebar-active"
          class="sidebar-subitem">

          {{ child.name }}

        </a>

      </li>

    </ul>

  </li>

</ul>

</aside>
