.sidebar {
  width: 260px;
  height: 100vh;
  background: #111827;
  color: #1DA6BA;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  overflow: hidden;
  border-right: 4px solid #1DA6BA; 
}

.sidebar-collapsed {
  width: 90px;
}

/* LOGO */
.sidebar-logo {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.sidebar-logo h2 {
  font-size: 22px;
  font-weight: 700;
}

/* MENU */
.sidebar-menu {
  list-style: none;

  padding: 20px 14px;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

/* ITEM */
.sidebar-item {
  height: 50px;

  display: flex;
  align-items: center;
  gap: 16px;

  padding: 0 16px;

  border-radius: 14px;

  color: #d1d5db;
  text-decoration: none;

  transition: 0.2s;
}

.sidebar-item:hover {
  background: #1DA6BA;
}

.sidebar-active {
  background: #1DA6BA;
  color: white;
}

/* ICON */
.sidebar-icon {
  font-size: 22px;
}

.sidebar-submenu{
  margin-left: 20px;
  list-style: none;
  padding-left: 10px;
}

.sidebar-subitem{
  display: block;
  padding: 8px;
  text-decoration: none;
}

.sidebar-submenu{
  margin-top: 6px;
  margin-left: 12px;

  list-style: none;
  padding-left: 8px;
}

.sidebar-submenu li{
  margin-bottom: 6px;
}

.sidebar-subitem{
  height: 42px;

  display: flex;
  align-items: center;

  padding: 0 14px;

  border-radius: 12px;

  color: #d1d5db;
  text-decoration: none;

  transition: 0.2s;
}

.sidebar-subitem:hover{
  background: #1DA6BA;
  color: #111111;
}

.sidebar-subitem.sidebar-active{
  background: #1DA6BA;
  color: white;
}
