<app-data-table
  [titulo]="titulo"
  [columnas]="columnas"
  [datos]="lista"
  [totalRegistros]="totalRegistros"
  [totalPorPagina]="totalPorPagina"
  [pageSizeOptions]="pageSizeOptions"
  
  [mostrarAgregar]="false"
  [mostrarEditar]="false"
  [mostrarEliminar]="false"
  [mostrarDetalle]="true"
  [mostrarGestionarFactura]="esGestorF1"
  
  (paginar)="paginar($event)"
  (verDetalle)="verSoportesFactura($event)"
  (gestionarFactura)="abrirModalGestionar($event)"
  (buscar)="buscar($event)">
</app-data-table>